.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/close-icon.svg);
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  background-position: center;
  border: none;
  z-index: 5;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 700px) {
  .popup__close-button {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
    background-image: url(../../../images/Close-Icon-small.svg);
  }
}
