.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  visibility: hidden;
  transition: visibility 0.2s linear, opacity 0.2s linear;
  opacity: 0;
}

.popup:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.5;
}
